 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/fondo1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 770px;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  margin: 405px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
    margin-top: 230px;
  }
} .u-section-2 {
  background-image: url("images/ab75606b-93c5-1201-55d8-c6f6c258b9f6.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 874px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 873px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-2 .u-image-1 {
  height: 625px;
  width: 987px;
  object-position: 0% 50%;
  margin: 40px auto 0;
}

.u-section-2 .u-group-1 {
  min-height: 310px;
  width: 685px;
  height: auto;
  margin: -140px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 12px 23px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 9px 40px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -11px 18px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 866px;
  }

  .u-section-2 .u-image-1 {
    height: 268px;
    width: 424px;
    margin-top: -466px;
  }

  .u-section-2 .u-group-1 {
    width: 424px;
    margin-top: 244px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 966px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 52px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 984px;
  }

  .u-section-2 .u-image-1 {
    height: 206px;
    width: 325px;
  }

  .u-section-2 .u-group-1 {
    width: 325px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 834px;
}

.u-section-3 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 801px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 473px;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 32px 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 18px 30px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 28px;
}

.u-section-3 .u-image-2 {
  height: 473px;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 32px 30px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 18px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 660px;
  }

  .u-section-3 .u-image-1 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 597px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 597px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    height: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 448px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 870px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 74px 82px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 74px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 302px;
  background-image: url("images/ROB4.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-4 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: normal;
}

.u-section-4 .u-image-2 {
  min-height: 302px;
  background-image: url("images/ROB41.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 304px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 32px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0 8px;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  font-style: normal;
  margin: 0 0 0 15px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 288px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-4 .u-text-6 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: normal;
}

.u-section-4 .u-image-3 {
  min-height: 288px;
  background-image: url("images/ROB42.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 288px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-4 .u-text-8 {
  margin: 24px 0 0;
}

.u-section-4 .u-text-9 {
  line-height: 1.8;
  font-style: normal;
  margin: 15px 0 0;
}

.u-section-4 .u-image-4 {
  min-height: 288px;
  background-image: url("images/ROB43.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 309px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 309px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    min-height: 309px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-image-1 {
    min-height: 237px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    min-height: 237px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    min-height: 237px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2895px;
  }

  .u-section-4 .u-image-1 {
    min-height: 711px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 711px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 711px;
    order: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 711px;
    order: 2;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2023px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 448px;
  }

  .u-section-4 .u-image-2 {
    min-height: 448px;
  }

  .u-section-4 .u-image-3 {
    min-height: 448px;
  }

  .u-section-4 .u-image-4 {
    min-height: 448px;
  }
} .u-section-5 {
  min-height: 691px;
  background-image: none;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 701px;
}

.u-section-5 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 53px -12px 0 32px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 8px 0 12px;
}

.u-section-5 .u-image-1 {
  min-height: 691px;
  background-image: url("images/ROB45.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 547px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 547px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 761px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 260px;
  }

  .u-section-5 .u-image-1 {
    min-height: 419px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 575px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 165px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 555px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 373px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 60px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 349px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 994px;
}

.u-section-6 .u-group-1 {
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 993px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-6 .u-text-1 {
  width: 844px;
  font-size: 3rem;
  margin: 79px auto 0 192px;
}

.u-section-6 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 12px auto 0 158px;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 23px 785px 0 66px;
}

.u-section-6 .u-list-1 {
  width: 361px;
  margin: 72px auto 0 434px;
}

.u-section-6 .u-image-1 {
  width: 650px;
  height: 267px;
  margin: -86px 22px 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -207px 694px 0 62px;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: -34px 674px 0 62px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 56px 22px 0 62px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1497px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 84px;
  }

  .u-section-6 .u-line-1 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-2 {
    width: 377px;
    margin-top: 212px;
    margin-right: 651px;
    margin-left: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: -116px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -274px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
    margin-right: 555px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 536px;
    margin-left: 38px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 493px;
    margin-right: 134px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1310px;
  }

  .u-section-6 .u-text-1 {
    width: 708px;
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    width: 708px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 431px;
  }

  .u-section-6 .u-list-1 {
    margin-left: 347px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -246px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -93px;
    margin-right: 335px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 316px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1329px;
  }

  .u-section-6 .u-text-1 {
    width: 528px;
  }

  .u-section-6 .u-line-1 {
    width: 528px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 215px;
    margin-right: 251px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -119px;
    margin-left: 167px;
  }

  .u-section-6 .u-image-1 {
    width: 528px;
    height: 217px;
    margin-top: -190px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -99px;
    margin-right: 155px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 136px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 496px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1239px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 328px;
  }

  .u-section-6 .u-line-1 {
    width: 328px;
  }

  .u-section-6 .u-text-2 {
    width: 320px;
    margin-top: 243px;
    margin-right: 51px;
  }

  .u-section-6 .u-list-1 {
    width: 328px;
    margin-top: -171px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 328px;
    height: 135px;
    margin-top: -134px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -73px;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: 85px;
    margin-right: 82px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1044px;
}

.u-section-7 .u-text-1 {
  width: 908px;
  margin: 60px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 45px;
  grid-gap: 20px 20px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-image-1 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-image-2 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-image-3 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 30px 20px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 37px;
  }

  .u-section-7 .u-image-1 {
    height: 204px;
  }

  .u-section-7 .u-image-2 {
    height: 204px;
  }

  .u-section-7 .u-image-3 {
    height: 204px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 106px;
  }

  .u-section-7 .u-image-1 {
    height: 242px;
  }

  .u-section-7 .u-image-2 {
    height: 242px;
  }

  .u-section-7 .u-image-3 {
    height: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-1 {
    height: 419px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-2 {
    height: 419px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-3 {
    height: 419px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    height: 268px;
  }

  .u-section-7 .u-image-2 {
    height: 268px;
  }

  .u-section-7 .u-image-3 {
    height: 268px;
  }
} .u-section-8 {
  background-image: url("images/fg5.jpg");
  background-position: 50% 50%;
  min-height: 555px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 553px;
}

.u-section-8 .u-container-layout-1 {
  padding: 50px 50px 42px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 76px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 25px 9px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-image-1 {
  min-height: 553px;
  background-image: url("images/ROB411.png");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 30px 158px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 473px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-8 .u-text-2 {
    width: 258px;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    width: 258px;
  }

  .u-section-8 .u-text-4 {
    width: 258px;
  }

  .u-section-8 .u-image-1 {
    min-height: 456px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 303px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    width: 222px;
  }

  .u-section-8 .u-text-3 {
    width: 222px;
  }

  .u-section-8 .u-text-4 {
    width: 222px;
  }

  .u-section-8 .u-image-1 {
    min-height: 402px;
    background-position: 12.41% 50%;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 524px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-image-1 {
    min-height: 476px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 322px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-image-1 {
    min-height: 300px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/f98d798c8374b9a3502793ccdcacd7b5bd96419cf46cf575e1a6406fb1a1876f854b92e03166e74a959afd3a2194b08eed9ae850679c44de1cf1a7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 1716px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 74px 296px 0 247px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 371px;
  grid-gap: 20px 20px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  font-style: normal;
  margin: 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  font-style: normal;
  margin: 0;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-9 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  font-style: normal;
  margin: 0;
}

.u-section-9 .u-list-item-5 {
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-9 .u-text-6 {
  font-size: 1.25rem;
  background-image: none;
  font-style: normal;
  margin: 0;
}

.u-section-9 .u-list-item-6 {
  background-image: none;
}

.u-section-9 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-9 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  font-style: normal;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1415px;
  }

  .u-section-9 .u-text-1 {
    width: 597px;
    margin-right: 196px;
    margin-left: 147px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 86px;
    margin-left: 37px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 542px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 600px;
}

.u-section-10 .u-video-1 {
  height: 500px;
  margin: 50px 0;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-10 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-10 .u-video-1 {
    height: 404px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-10 .u-video-1 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-10 .u-video-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .embed-responsive-1 {
    width: 261%;
    left: -81%;
    height: 100%;
    top: 0%;
  }
}