 .u-section-1 {
  min-height: 622px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -4px auto 0;
}

.u-section-1 .u-image-1 {
  height: 510px;
  margin-top: 10px;
  margin-bottom: 0;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1112px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -64px 596px 0 78px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -128px 71px 0 603px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 22px auto 0 166px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: -46px 154px 36px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -62px;
    margin-right: 506px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 530px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-left: 108px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 56px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1583px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -65px;
    margin-right: 383px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -160px;
    margin-left: 395px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 17px;
    margin-left: 58px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 13px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1987px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 318px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -256px;
    margin-left: 305px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2707px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -53px;
    margin-right: 170px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -288px;
    margin-left: 196px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -132px;
    padding: 9px 4px 10px 3px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 113px;
    margin-bottom: 42px;
    padding: 9px 0 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 606px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 42px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 42px 10px 0 635px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: -128px 560px 0 0;
}

.u-section-3 .u-image-1 {
  width: 495px;
  height: 294px;
  margin: 37px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 495px;
  height: 221px;
  margin: -257px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1px;
    margin-right: 30px;
    margin-left: 470px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -160px;
  }

  .u-section-3 .u-image-1 {
    width: 380px;
    height: 226px;
    margin-top: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -221px;
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 411px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -224px;
    margin-right: 440px;
  }

  .u-section-3 .u-image-1 {
    width: 311px;
    height: 209px;
    margin-top: 12px;
  }

  .u-section-3 .u-image-2 {
    width: 309px;
    height: 136px;
    margin-top: -172px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 287px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -240px;
    margin-right: 295px;
  }

  .u-section-3 .u-image-1 {
    width: 245px;
    height: 165px;
    margin-top: 51px;
  }

  .u-section-3 .u-image-2 {
    width: 270px;
    height: 129px;
    margin-top: -147px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 38px;
    margin-left: 177px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -480px;
    margin-right: 195px;
  }

  .u-section-3 .u-image-1 {
    width: 145px;
    height: 107px;
    margin-top: 80px;
  }

  .u-section-3 .u-image-2 {
    width: 170px;
    height: 76px;
    margin-top: -92px;
    margin-bottom: 48px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1507px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 24px 10px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 79px 117px 0 612px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -38px 696px 0 148px;
}

.u-section-4 .u-image-1 {
  width: 424px;
  height: 393px;
  margin: 42px auto 0 94px;
}

.u-section-4 .u-image-2 {
  width: 479px;
  height: 393px;
  margin: -393px 49px 0 auto;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 41px auto 0 219px;
  padding: 10px 23px 12px 22px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  margin: -72px 193px 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 99px 681px 0 153px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -26px 196px 0 722px;
}

.u-section-4 .u-image-3 {
  width: 448px;
  height: 393px;
  margin: 24px 65px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 444px;
  height: 392px;
  margin: -393px auto 0 74px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  margin: 50px auto 0 209px;
  padding: 10px 23px 12px 22px;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  margin: -73px 201px 60px auto;
  padding: 10px 23px 12px 22px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1608px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 116px;
    margin-right: 99px;
    margin-left: 620px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -115px;
    margin-right: 606px;
    margin-left: 112px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 62px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 61px;
    margin-left: 156px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -73px;
    margin-right: 161px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 114px;
    margin-right: 606px;
    margin-left: 112px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -54px;
    margin-right: 129px;
    margin-left: 590px;
  }

  .u-section-4 .u-image-3 {
    height: 364px;
    margin-top: 43px;
    margin-right: 26px;
  }

  .u-section-4 .u-image-4 {
    width: 404px;
    height: 327px;
    margin-top: -354px;
    margin-left: 10px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 78px;
    margin-left: 125px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 108px;
    margin-right: 77px;
    margin-left: 422px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 438px;
    margin-left: 60px;
  }

  .u-section-4 .u-image-1 {
    width: 321px;
    height: 346px;
    margin-top: 53px;
  }

  .u-section-4 .u-image-2 {
    width: 339px;
    height: 261px;
    margin-top: -304px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 67px;
    margin-left: 33px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -72px;
    margin-right: 26px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 70px;
    margin-right: 438px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 77px;
    margin-left: 422px;
  }

  .u-section-4 .u-image-3 {
    width: 345px;
    height: 269px;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    width: 306px;
    height: 284px;
    margin-top: -277px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 38px;
    margin-left: 33px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 38px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -3px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -38px;
    margin-right: 244px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 246px;
    height: 265px;
    margin-top: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 270px;
    height: 229px;
    margin-top: -247px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 37px;
    margin-left: 0;
    padding: 11px 8px 11px 7px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -45px;
    margin-right: 0;
    padding: 9px 21px 11px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 64px;
    margin-right: 234px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: -58px;
    margin-right: 0;
    margin-left: 319px;
  }

  .u-section-4 .u-image-3 {
    width: 270px;
    height: 243px;
    margin-top: 63px;
  }

  .u-section-4 .u-image-4 {
    width: 238px;
    height: 224px;
    margin-top: -234px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 40px;
    margin-left: -5px;
    padding: 11px 7px 11px 6px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: -48px;
    margin-right: 0;
    margin-bottom: 60px;
    padding: 11px 20px 11px 19px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 36px;
    margin-left: 170px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -120px;
    margin-right: 208px;
  }

  .u-section-4 .u-image-1 {
    width: 170px;
    height: 156px;
  }

  .u-section-4 .u-image-2 {
    width: 170px;
    height: 151px;
    margin-top: -155px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 29px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -75px;
    padding: 8px 0 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 70px;
    margin-right: 208px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -96px;
    margin-left: 170px;
  }

  .u-section-4 .u-image-3 {
    width: 150px;
    height: 149px;
    margin-top: 42px;
  }

  .u-section-4 .u-image-4 {
    width: 146px;
    height: 124px;
    margin-top: -137px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-top: -74px;
    margin-bottom: 39px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 370px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 625px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 563px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 6px 0 0 20px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 310px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 294px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 185px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 912px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 6px 0 0 20px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 0 0 20px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 42px 54px 0 644px;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  margin: -48px 648px 0 141px;
}

.u-section-7 .u-image-1 {
  width: 478px;
  height: 366px;
  margin: 6px auto 0 46px;
}

.u-section-7 .u-image-2 {
  width: 454px;
  height: 379px;
  margin: -350px 54px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 498px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 548px;
    margin-left: 41px;
  }

  .u-section-7 .u-image-1 {
    width: 410px;
    height: 341px;
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    width: 426px;
    height: 344px;
    margin-top: -342px;
    margin-right: 0;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-left: 360px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: -51px;
    margin-right: 369px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 336px;
    height: 329px;
    margin-top: 45px;
  }

  .u-section-7 .u-image-2 {
    width: 360px;
    height: 263px;
    margin-top: -304px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 270px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -64px;
    margin-right: 290px;
  }

  .u-section-7 .u-image-1 {
    width: 250px;
    height: 266px;
    margin-top: 17px;
  }

  .u-section-7 .u-image-2 {
    width: 270px;
    height: 210px;
    margin-top: -238px;
    margin-bottom: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 186px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -128px;
    margin-right: 189px;
  }

  .u-section-7 .u-image-1 {
    width: 151px;
    height: 151px;
    margin-top: 56px;
  }

  .u-section-7 .u-image-2 {
    width: 154px;
    height: 154px;
    margin-top: -140px;
    margin-bottom: 42px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 665px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-8 .u-image-1 {
  width: 367px;
  height: 490px;
  margin: 52px auto 0 71px;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: -405px 33px 60px 509px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: -469px;
    margin-right: 0;
    margin-left: 521px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: -517px;
    margin-bottom: 49px;
    margin-left: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-8 .u-image-1 {
    width: 292px;
    height: 423px;
    margin-top: 203px;
  }

  .u-section-8 .u-text-2 {
    margin: -579px -13px 46px 302px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-8 .u-image-1 {
    height: 458px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    margin: 15px 0 50px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1102px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-2 {
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 436px;
  margin: 8px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 413px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 260px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 463px;
}

.u-section-10 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 10px 0;
}

.u-section-10 .u-image-1 {
  width: 775px;
  height: 184px;
  margin: 20px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-10 .u-image-1 {
    width: 720px;
    height: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 81px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 980px;
}

.u-section-11 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-11 .u-image-1 {
  width: 265px;
  height: 538px;
  margin: 38px auto 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  margin: -474px 25px 0 370px;
}

.u-section-11 .u-text-3 {
  font-size: 1.5rem;
  margin: 38px 318px 0 663px;
}

.u-section-11 .u-image-2 {
  width: 1100px;
  height: 241px;
  margin: 48px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
  }

  .u-section-11 .u-image-1 {
    height: 537px;
    margin-left: 70px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: -524px;
    margin-right: 0;
    margin-left: 415px;
  }

  .u-section-11 .u-text-3 {
    width: 159px;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-image-2 {
    height: 206px;
    margin-top: 37px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -572px;
    margin-left: 305px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-11 .u-image-2 {
    height: 170px;
    margin-top: 10px;
    margin-bottom: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-11 .u-image-1 {
    height: 527px;
    margin-top: 190px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -679px;
    margin-left: 270px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-11 .u-image-2 {
    height: 128px;
    margin-top: 5px;
    margin-bottom: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1898px;
  }

  .u-section-11 .u-image-1 {
    height: 682px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-2 {
    margin-top: 55px;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-11 .u-image-2 {
    margin-top: 20px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 742px;
}

.u-section-12 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-12 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-12 .u-image-1 {
  width: 395px;
  height: 420px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 362px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 747px;
}

.u-section-13 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-13 .u-text-2 {
  font-size: 1.25rem;
  margin: 32px 15px 0 575px;
}

.u-section-13 .u-image-1 {
  width: 519px;
  height: 462px;
  margin: -511px auto 0 0;
}

.u-section-13 .u-text-3 {
  font-size: 1.25rem;
  margin: 32px 0 46px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-top: 56px;
    margin-right: 0;
    margin-left: 547px;
  }

  .u-section-13 .u-image-1 {
    width: 470px;
    height: 421px;
    margin-top: -596px;
    margin-left: 25px;
  }

  .u-section-13 .u-text-3 {
    width: auto;
    margin: 141px -11px 21px 11px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 388px;
  }

  .u-section-13 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 0;
  }

  .u-section-13 .u-image-1 {
    width: 308px;
    height: 274px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 304px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 660px;
}

.u-section-14 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-14 .u-image-1 {
  width: 535px;
  height: 425px;
  margin: 40px 0 0 auto;
}

.u-section-14 .u-text-2 {
  font-size: 1.25rem;
  margin: -404px 614px 0 0;
}

.u-section-14 .u-text-3 {
  font-size: 1.25rem;
  margin: 47px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-14 .u-text-1 {
    margin-left: 0;
  }

  .u-section-14 .u-image-1 {
    width: 420px;
    height: 334px;
    margin-top: 153px;
  }

  .u-section-14 .u-text-2 {
    width: auto;
    margin-top: -397px;
    margin-right: 495px;
  }

  .u-section-14 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-14 .u-image-1 {
    width: 400px;
    margin-top: 163px;
  }

  .u-section-14 .u-text-2 {
    margin-top: -471px;
    margin-right: 414px;
  }

  .u-section-14 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-14 .u-image-1 {
    height: 411px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-14 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-14 .u-text-3 {
    margin-bottom: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-14 .u-image-1 {
    height: 284px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 462px;
}

.u-section-15 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-15 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-15 .u-image-1 {
  width: 895px;
  height: 188px;
  margin: 20px auto 28px;
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-15 .u-image-1 {
    width: 720px;
    height: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 71px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 450px;
}

.u-section-16 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.25rem;
  margin-top: 20px;
}

.u-section-16 .u-image-1 {
  width: 625px;
  height: 301px;
  margin: 20px auto 45px;
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-16 .u-image-1 {
    width: 540px;
    height: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-16 .u-image-1 {
    width: 340px;
    height: 164px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 437px;
}

.u-section-17 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.25rem;
  margin-top: 30px;
}

.u-section-17 .u-image-1 {
  width: 618px;
  height: 284px;
  margin: 8px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-image-1 {
    height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-17 .u-image-1 {
    width: 540px;
    height: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-17 .u-image-1 {
    width: 340px;
    height: 157px;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 518px;
}

.u-section-18 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-18 .u-image-1 {
  width: 455px;
  height: 246px;
  margin: 28px auto 60px;
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-18 .u-image-1 {
    width: 340px;
    height: 184px;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 606px;
}

.u-section-19 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-19 .u-image-1 {
  height: 287px;
  margin-top: 20px;
  margin-bottom: 56px;
}.u-section-20 .u-sheet-1 {
  min-height: 642px;
}

.u-section-20 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 23px 0 0 20px;
}

.u-section-20 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0 20px;
}

.u-section-20 .u-image-1 {
  height: 347px;
  margin-top: 41px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-20 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-20 .u-text-1 {
    margin-left: 0;
  }

  .u-section-20 .u-text-2 {
    margin-left: 0;
  }

  .u-section-20 .u-image-1 {
    height: 286px;
    margin-top: 34px;
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-20 .u-image-1 {
    height: 221px;
    margin-top: 23px;
    margin-bottom: 51px;
  }
}