 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/istockphoto-1321636150-170667a.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 919px;
}

.u-section-1 .u-group-1 {
  width: 583px;
  min-height: 495px;
  height: auto;
  margin: 207px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 23px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 41px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 25px auto 0 0;
  padding: 14px 50px 15px 49px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 86.44% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-bottom: 50px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 84.48% 100%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-group-1 {
    width: 651px;
    min-height: 507px;
    margin-top: 285px;
    margin-left: auto;
    margin-bottom: 27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 81.29% 100%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1217px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 65px auto 0 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/mnm-min.png");
  min-height: 622px;
  background-position: 100% 0%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 622px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 948px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-layout-cell-3 {
  min-height: 113px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 165px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 324px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 28px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.2;
  margin: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 324px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.2;
  margin: 0 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1124px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-image-1 {
    min-height: 513px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 112px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 164px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 321px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 321px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 779px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-image-1 {
    min-height: 393px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1601px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-image-1 {
    min-height: 466px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 498px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1244px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    min-height: 293px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 418px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 948px;
  margin: 0 0 43px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 185px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px 35px 0 -35px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 185px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 20px 50px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 175px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 28px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 183px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: url("images/1426870.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 692px;
}

.u-section-4 .u-slider-1 {
  min-height: 532px;
  width: 857px;
  height: auto;
  margin: 80px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-4 .u-carousel-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 0 45px;
}

.u-section-4 .u-image-1 {
  width: 146px;
  height: 146px;
  background-image: url("images/IMG_20180330_114535492.jpg");
  background-position: 50% 50%;
  margin: 23px 602px 0 109px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -87px 80px 0 255px;
}

.u-section-4 .u-text-2 {
  font-size: 1.0625rem;
  margin: 68px 80px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 40px 80px 0 391px;
}

.u-section-4 .u-text-4 {
  font-size: 1.0625rem;
  margin: 0 80px 0 199px;
}

.u-section-4 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: -85px;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -80px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -94px;
    margin-right: 90px;
    margin-left: 315px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 88px;
    margin-right: 109px;
    margin-left: 79px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: 109px;
    margin-left: 162px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 109px;
    margin-left: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-carousel-indicators-1 {
    bottom: 26px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 60px 30px 50px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 534px;
    margin-left: 41px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 187px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 51px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-slider-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -131px;
    margin-right: 36px;
    margin-left: 191px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 127px;
    margin-right: 54px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 28px;
    margin-right: 60px;
    margin-left: 152px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 60px;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-4 .u-slider-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.375rem;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}