* {
    text-align: center;
    padding: 0;
    margin: 0;    
    overflow: hidden;    
	font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


h1 {
    font-size: 80px;
    margin: 40px;
}

nav ul {
    display: flex;
    flex-direction: row ;
    justify-content: right;
    list-style: none;
    background-color: aqua;
    margin: 0;
    height: 80px;
}


nav ul li {
    padding: 10px;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;    
    height: 100%;
}

li#home {
    flex-grow: 2;
}

#ico {
    height: 70px;
}

section {
    height: 70vh;
    background: black;
    padding: 0 10%;
    color: white;
}

#presentation {
    background: linear-gradient(#FFFFFFFF 0%,#44444444 60%,#000000FF 100%);
    color: black;
}
